.main{
    display: grid;
    align-items: center;
    grid-template-columns: 100px 100px 100px 100px 100px;
    width: 100%;
    gap: 50px;
    margin-left: 25%;
}

.main div{
    border: 1px black solid;
    border-radius: 10px;
    width: 130px;
    text-align: center;
}

.main div img{
    width: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

.s1,.s2,.s3,.s4,.s5{
    border: none;
}

h1{
    width: 800px;
}